.FilterContainer {
  position: relative;
  height: 200px;
  font-size: 22px;
  background: cornflowerblue;
}

.FilterContainerSaving:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}