.View {
  position: relative;
  background: lightcoral;
  height: 300px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 300px;
}

.ViewLoading:after {
  position: absolute;
  content: 'Loading...';
  line-height: 300px;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.View  li {
  line-height: 1.5em;
  text-align: left;
}